on: [push]

jobs:
  hello_world_job:
    runs-on: ubuntu-latest
    name: A job to say hello
    steps:
      - name: Hello world action step
        id: hello
        uses: jvhoof/github-actions-hello-world@latest
        with:
          flexvm_app_id: ${{ secrets.FLEXVM_APP_ID }} # Use the output from the `hello` step
          flexvm_password: ${{ secrets.FLEXVM_PASSWORD }} # Use the output from the `hello` step
      - name: Get the output 1
        run: echo "The time was ${{ steps.hello.outputs.flexvm_token }}"
      - name: Get the output 2
        run: echo "The time was ${{ steps.hello.outputs.flexvm_license }}"
